<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to the class ! {{msg}} </h1>
    <h1>Mongo Db</h1>
    {{!-- {{msg}} --}}
    <form action="store_book" method="post">
    Title:
    <input type="text" name="title">
    Author:
   
    <input type="text" name="author">
    <input type="submit" value="insert">
    </form>
    <ul>
        {{#each mydata}}
        <li>{{this.title}}-{{this.author}}</li>
        {{/each}}

    </ul>
</body>
</html>